<div class="rhelper">
  <div class="block">
    <div class="title"><h3>What is Whys?</h3></div>
    <div class="bdesc">
      Whys is a website that helps young people ask questions and discuss answers to help them explore and understand the world around them.
      <div><a href="/about">Find out more.</a></div>
    </div>
  </div>
  <div class="block">
    <div class="title"><h3>Latest tags</h3></div>
    <div class="tags">
      <% @tag_thr.each do |k,v| %>
          <%= tag_schema(k,v) %>
      <% end %>
    </div>
  </div>
  <% if !@achievements.blank? %>
    <div class="block">
      <div class="title"><h3>Latest achievements</h3></div>
      <div class="achievements">
        <% @achievements.each do |achievement| %>
          <div><%= achievement_schema(achievement.badge,:count=>false) %> <%=raw achievement.user.sname %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>