<div class="lcontent">
  <div class="title">
    <h2>About</h2>
    <div class="clear"></div>
    <p>Whys is a website that helps young people identify, develop and showcase their key strengths and soft skills to potential employers or investors, progressive organisations and freelancers, instead of posting job descriptions, can discover raw talent through us.</p>

<p>With close to one million young people still unemployed, and the opportunities for paid work experience narrowing, more aspiring young people than ever are facing a competitive jobs market with little to no experience. At the same time the growing sectors, such as creative, tech and entrepreneurship, have less well-trodden paths for young people to follow, but an increasing need to find raw talent.
Whatever career paths they choose, soft skills are critical for young people’s success. The connection between key character strengths, such as resilience or self-esteem, and soft skills, such as collaboration or time-management, is rarely taught explicitly or consistently in schools.</p>

<p>Whys takes a gamified approach to enabling young people to prove and improve the strengths and skills that can significantly increase well-being, success and fulfillment both in work and in life. Initially targeting marginalised young people in areas of high youth unemployment, the aim is that Whys will develop and showcase the talents of thousands of young people across the country.</p>

<p>Ask your first question now.</p>
  </div>
</div>
<div class="clear"></div>