<div class="lcontent">
  <div class="title">
    <div class="clear"></div>
    <%= link_to image_tag('whys-guys-questions-answers-young-people.jpg', alt:APP_CONFIG['display_app_name'], border: 0) %>
    <br>
    <h1>About Whys</h1>
    <br>
    <div class="clear"></div>
    <p>Whys is a website that helps young people ask questions and discuss answers to help them explore and understand the world around them.</p>

<p>With close to one million young people still unemployed, and the opportunities for paid work experience narrowing, more aspiring young people than ever are facing a competitive jobs market with little to no experience.</p>

<p>Whys takes a gamified approach to enabling young people to get the answers to their questions that can significantly increase well-being, success and fulfillment both in work and in life.</p>
    
    Initially targeting marginalised young people in areas of high youth unemployment, the aim is that Whys will develop and showcase the talents of thousands of young people across the UK and beyond.</p>

<p>Ask your first question now.</p>
  </div>
</div>
<div class="clear"></div>